#esto es lo que se debe ignorar

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Thumbnail cache files
._*
Thumbs.db

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Folder view configuration files
.DS_Store
Desktop.ini

# Distribution / packaging
.Python
.vscode/
.idea/

portal/__pycache__/
rotary/__pycache__/