{% extends 'base.html' %}

{% block titulo %}Portal{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-success">
                        <i class="fa fa-tag"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h3>DE 09:00 A 13:30</h3>
                        <p class="text-justify">PETS Seminario para Presidentes, Secretarios y Tesoreros Electos a cargo del
                            Gobernador Electo. <strong>Salon "LA CIENAGA" Piso 2.</strong> Recepcion de Representante del Presidente
                            del Rotary Internacional, EGD. Rodolfo Bianchi e invitados especiales.
                        </p>
                        <p class="text-justify"><strong>FORO FEMENINO DE LIDERAZGO ROTARIO</strong>. Salon <strong>"AURORA"</strong>
                            piso 6.
                        </p>
                        <h3>DE 08:30 A 18:30</h3>
                        <p class="text-justify">Recepcion de delegaciones, inscripcion de participantes y entrega de materiales.</p>
                        <h3>DE 15:00 A 18:30</h3>
                        <p class="text-justify"><strong>ASAMBLEA DE DISTRITO</strong>. Salon <strong>"LA CIENAGA"</strong>, piso 2.</p>
                        <h3>DE 15:00 A 18:30</h3>
                        <p class="text-justify"><strong>ASAMBLEA DE DISTRITO</strong>. Salon <strong>"LA CIENAGA"</strong>, piso 2.</p>
                        <span class="cd-date">Mayo 31</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-danger">
                        <i class="fa fa-thumbs-up"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h3>Timeline Event Two</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                        <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light m-t-15">See more detail</button>

                        <span class="cd-date">Junio 01</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-info">
                        <i class="fa fa-star"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h3>Timeline Event Three</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat ... <a href="#">Read more</a></p>
                        <span class="cd-date">Junio 02</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            </section> <!-- cd-timeline -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">

        </div>
    </div>
{% endblock %}