{% extends 'base.html' %}

{% block titulo %} Participante {% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                {% if participante_lista|length < 2 %}
                <a class="btn btn-default dropdown-toggle waves-effect" href="{% url 'participante_create' %}">Registrar <span class="m-l-5"><i class="fa fa-user"></i></span></a>
                {% else %}
                    <p>&nbsp;</p>
                {% endif %}

            </div>
            <h4 class="page-title">Participantes</h4>
        </div>
    </div>
    <div class="row">
        {% if request.user.is_staff %}

        {% else %}
        {% for participante in participante_lista %}
            <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                <div class="profile-detail card-box">
                    <h4 class="text-uppercase font-600">Datos Personales</h4>
                    <hr>
                    <div class="text-left">
                        <p class="text-muted font-13"><strong>Nombre Completo :</strong> <span class="m-l-15">{{ participante }}</span></p>

                        <p class="text-muted font-13"><strong>Numero Documento :</strong><span class="m-l-15">{{ participante.nro_documento }}</span></p>

                        <p class="text-muted font-13"><strong>Ciudad/Localidad :</strong> <span class="m-l-15">{{ participante.ciudad }}</span></p>

                        <p class="text-muted font-13"><strong>Club del Rotaryo :</strong> <span class="m-l-15">{{ participante.club }}</span></p>

                        <p class="text-muted font-13"><strong>Telefono/Celular :</strong> <span class="m-l-15">{{ participante.telefono }}</span></p>

                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">{{ participante.email }}</span></p>
                        <p class="text-right">
                            <a class="btn btn-warning text-uppercase waves-effect waves-light m-r-5" href="{% url 'participante_update' pk=participante.id %}">Editar</a>
                            <a class="btn btn-danger text-uppercase waves-effect waves-light m-r-5" href="{% url 'participante_delete' pk=participante.id %}">Eliminar</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}