{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{% static 'frontend/images/favicon.ico'%}">

        <title>Rotary | {% block titulo %}{% endblock %}</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'frontend/css/bootstrap.min.css'%}" rel="stylesheet">

        <!-- Owl Carousel CSS -->
        <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/css/owl.theme.default.min.css' %}" rel="stylesheet">

        <!-- Icon CSS -->
        <link href="{% static 'frontend/css/font-awesome.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body data-spy="scroll" data-target="#navbar-menu">
        <!-- HOME -->
        <section class="home bg-img-1" id="home">
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-center">
                        <div class="home-fullscreen">
                            <div class="full-screen">
                                <div class="home-wrapper home-wrapper-alt">
                                    <h2 class="font-light text-white">Conferencia Distrital LXXIX</h2>
                                    <h3 class="font-light text-white">ORURO 2018</h3>
                                    <h4 class="text-white">Del 31 de Mayo al 2 de Junio</h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2><img src="{% static 'frontend/images/RD4690.png' %}" class="img-responsive" alt=""></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <h2><img src="{% static 'frontend/images/RMD.png' %}" class="img-responsive" alt=""></h2>
                                        </div>
                                    </div>
                                    <div id="navbar-menu" class="m-t-20">
                                        <a href="#features" class="nav-link btn btn-custom">Inscríbete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- END HOME -->

        <!-- Features Alt -->
        <section class="section" id="features">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="feat-description m-t-20">
                            <form class="form-horizontal m-t-20" method="post" novalidate>
                                {% csrf_token %}
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                      {{ field.label_tag }}

                                      {% if form.is_bound %}
                                        {% if field.errors %}
                                          {% render_field field class="form-control is-invalid" %}
                                          {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                              {{ error }}
                                            </div>
                                          {% endfor %}
                                        {% else %}
                                          {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                      {% else %}
                                        {% render_field field class="form-control" %}
                                      {% endif %}

                                      {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                      {% endif %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-custom">Registrar</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-offset-2 col-sm-8">
                            <img src="{% static 'frontend/images/RD4690borde.png' %}" alt="img" class="img-responsive m-t-20">
                        </div>
                    </div>

                </div><!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end features alt -->

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <a class="navbar-brand logo" href="index.html">
                            <img src="{% static 'frontend/images/RMD.png' %}" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-lg-offset-3 col-md-7">
                        <ul class="nav navbar-nav">
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- End Footer -->


        <!-- Back to top -->
        <a href="#" class="back-to-top" id="back-to-top"> <i class="fa fa-angle-up"></i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'frontend/js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

        <!-- Jquery easing -->
        <script type="text/javascript" src="{% static 'frontend/js/jquery.easing.1.3.min.js' %}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>

        <!--sticky header-->
        <script type="text/javascript" src="{% static 'frontend/js/jquery.sticky.js' %}"></script>

        <!--common script for all pages-->
        <script src="{% static 'frontend/js/jquery.app.js' %}"></script>

    </body>
</html>